.navbar_parent {
    width: 100%;
    background-color: var(--navbar);
    margin: auto;
    top: 0;
    position: fixed;
    z-index: 3;
}

.navbar {
    width: 80%;
    color: white;
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding: 5px;
}

.navbar img {
    height: 6.4vh;
    width: auto;
    margin: auto 0px;
}

.navbar h1 {
    text-align: right;
    margin: auto 0px;
}