.footerPage {
    width: 100%;
    margin: auto;
    background-color: var(--navbar);
    color: white;
    position: fixed;
    bottom: 0px;
    z-index: 3;
}

.footer {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 50px;
}

.footer a {
    text-decoration: none;
    color: white;
    padding-top: 15px;
}